<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Random string generator</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
   <div id="container">
      <form method="POST">
         {% csrf_token %}
         <p>Here are some random alphanumeric characters:</p>
         <span>{{request.session.randomNum}}</span>
         <p>Attempt number: {{request.session.counter}}</p>

         <input type="Submit" value="Generate" id="button">

      
         <a href="reset">reset</a>
      </form>
   </div>
</body>
</html>