/* CSS resets */
*{
	vertical-align: baseline;
	border: 0 none;
	padding: 0;
	margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

#container{
   margin: 0 auto;
   display: flex;
   flex-flow: column;
   background-color: aquamarine;
   height: 100vh;
}

span{
   font-size: xx-large;
   margin: 2em;
   background-color:rgb(238, 234, 228);
}

p{
   margin: 2em;
}

form{
   width: 50%;
   border: black 2px solid;
   margin: 2em auto;
}

a, #button{
   margin: 0 2em 2em 2em;
}